body {
  font-family: Arial, sans-serif;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

header {

background-color: black;
font-size: 20px;
border-width: 50px;
border-left-width: 50px;
border-right-width: 50px;
border-top-width: 50px;
border-bottom-width: 50px;


}

header {
  background-color: lightgrey;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
}

img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

caption {
  width: 70%;
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px
}


h1 {
  font-style: italic;
  font-size: 50px;
  color: black;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

p {
  font-size: 20px;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
}


a {
color: orange;


}

 a {
    color: #203299;
    font-size: 1.25rem;
    line-height: 1.5rem;
    size: 20px;
  }

.carouselalign {

margin-left: auto;
margin-right: auto;

}

.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
